body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    min-height: 100vh;
    gap: 30px;
}


.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 5px;
}

.cell{
    border: 1px solid rgb(30, 0, 118);
    background-color: lightpink;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.cell:hover{
    background-color: pink;
}

.cell:active{
    background-color: rgb(200, 115, 129);
}


.start{
    padding: 8px 12px;
    background-color: rgb(36, 156, 36);
    cursor: pointer;
    border: 1px solid green;
    font-weight: bold;
}
.start:hover{
    background-color: green;
}

.start:active{
    opacity: 0.6;
}
.reset{
    padding: 8px 12px;
    background-color: rgb(188, 56, 56);
    cursor: pointer;
    border: 1px solid red;
    font-weight: bold;
}
.reset:hover{
    background-color: red;
}

.reset:active{
    opacity: 0.6;
}